.button {
    -fx-border-radius: 9px;
    -fx-border-width: 2px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0), 10, 0, 0, 0);
}

#listview {
    -fx-background-color: rgba(0,0,0,0);
    -fx-font-size: 15px;
    -fx-font-family: "Myriad Pro";
    -fx-text-fill: #494949;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #cdffeb;
    -fx-text-fill: #494949;
    -fx-font-weight: bold;
    -fx-background-radius: 9px;
}

.list-cell:odd {
    -fx-cell-hover-color: #0093ff;
    -fx-background-color: rgba(0,0,0,0);
}

.list-cell:filled:hover {
    -fx-background-color: #eeeeee;
    -fx-background-radius: 9px;
}

#dict-select {
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-radius: 6px;
    -fx-border-color: #989898;
    -fx-border-width: 0.5px;
    -fx-font-family: "Myriad Pro";
    -fx-font-size: 13px;
    -fx-text-fill: #494949;
}

.menu-item {
    -fx-pref-width: 130px;
    -fx-padding: 0 0 0 5;
    -fx-text-fill: black;
    -fx-background: #b4b4b4;
}
