.button {
    -fx-background-color: rgb(0,0,0,0);
    -fx-text-fill: white;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    -fx-font-family: Barlow;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.lookUp-selected {
    -fx-border-radius: 9px;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-background-color: linear-gradient(to bottom right, #2CB3FF -1.54%, #5EFFC5 152.46%);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.16), 10, 0, 0, 0);
}

.translate-selected {
    -fx-border-radius: 9px;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-background-color: linear-gradient(to bottom right, #a02aff -1.54%, #ff84cd 152.46%);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.16), 10, 0, 0, 0);
}

.favorite-selected {
    -fx-border-radius: 9px;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-background-color: linear-gradient(to bottom right, #00dc6c -1.54%, #d8ff2c 152.46%);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.16), 10, 0, 0, 0);
}

.game-selected {
    -fx-border-radius: 9px;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-background-color: linear-gradient(to bottom right, #ff773c -1.54%, #fde674 152.46%);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.16), 10, 0, 0, 0);
}

.selected {
    -fx-border-radius: 9px;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-background-color: rgb(128, 128, 128);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.16), 10, 0, 0, 0);
}

.tab-dragged {
    -fx-border-radius: 9px;
    -fx-border-width: 2px;
    -fx-background-color: #eeeeee;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0), 10, 0, 0, 0);

}

.tab-menu {
    -fx-border-radius: 9px;
    -fx-background-radius: 10px;
}

#left_panel {
    -fx-background-color: white;
}